:root{
    --mainColor: #153B50;
    --mainAccent: #429EA6;
    --secondColor: #F3EFF5;
    --secondAccent: #72B01D;
    --lightColor: #F3EFF5;
    --contactFontSize: 125%;
}

*{
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 21px;
}

nav{
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: end;
}

nav a{
    text-decoration: none;
    color: var(--secondColor);
    font-size: 125%;
    margin: 0 2%;
}

a:hover{
    color: var(--secondAccent);
}

#name{
    width: 90%;
    display: flex;
}

h1{
    color: var(--secondAccent);
    font-size: 500%;
    margin: 0;
}

h2{
    margin: 0;
    color:var(--secondColor);
    font-size: 375%;
}

.line{
    width: 100%;
    height: 0;
    border-bottom: var(--lightColor) solid 3px;
    margin: 0;
    display: block;
}

body{
    position:absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: var(--mainColor);
}

main{
    display: block;
}

#work{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main article section{
    flex: 4;
}


article{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 1%;
}

article div{
    flex: 1;
    text-align: center;
    margin: 2% 0 auto 0;
    font-size: 156%;
    color:var(--secondAccent);
}

article p{
    flex: 4;
    font-size: 100%;
    color:var(--secondColor);
}

#first-image{
    flex: 4;
}

#first-image img{
    width: auto;
    height: auto;
    max-width: calc(100% - 10px);
}

#first-image div{
    font-size: 156%;
    bottom: 9px;
}

img{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    object-fit: cover;
    border: var(--lightColor) solid 5px;
    margin: 10px 0 0 0;
}

img:hover{
    border:var(--secondAccent) solid 5px;
}

.object-contain{
    object-fit: none;
}

#arcane-audit{
    object-fit: contain;
    background-color: black;
}

.project-caption{
    position: relative;
    flex: 1.95;
}

.project-caption div{
    pointer-events: none;
    text-decoration: none;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    color: var(--lightColor);
    font-size: 100%;
    position: absolute;
    width: calc(100% - 10px);
    left: 5px;
    bottom: -5px;
    padding-top: 10%;
}

.project-caption:hover div{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    color: var(--secondAccent);
}

.spacer{
    flex: 0.1;
}

#contact{
    margin-top: 3%;
}

#contact > *{
    margin-top: auto;
    margin-bottom: auto;
}

article section a{
    color: var(--secondColor);
    font-size: var(--contactFontSize);
}

span{
    color: var(--secondColor);
    font-size: var(--contactFontSize);
}

footer{
    height: 100px;
}

/* 768 */
@media screen and (max-width: 1000px) {
    :root{
        --contactFontSize: 100%;
    }
    
    nav{
        justify-content: space-evenly;
    }
    
    nav a{
        font-size: 88%;
    }

    #name{
        display: block;
        width: 100%;
    }

    h1{
        font-size: 250%;
        text-align: center;
    }

    h2{
        font-size: 188%;
        text-align: center;
    }

    article{
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }

    article p{
        margin: 0 5%;
        font-size: 88%;
    }

    .project-caption{
        margin: 0 auto;
        width: 90%;
    }

    .project-caption div{
        bottom: 9px;
        width: 100%;
    }

    #first-image div{
        font-size: 100%;
    }

    img{
        width: 100%;
    }

    #contact section{
        margin: 3% auto 0 auto;
    }
}

@media screen and (min-width: 2500px) {
    *{
        font-size: 67px;
    }
}