/* declare variables */
:root{
    --mainColor: #153B50;
    --mainAccent: #429EA6;
    --secondColor: #F3EFF5;
    --secondAccent: #72B01D;
    --lightColor: #F3EFF5;
    --contactFontSize: 125%;
    --borderSize: 5px;
}

/* universal selector */
*{
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 21px;
}

/* applies to the nav bar at the top of the page */
nav{
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: end;
}

/* applies to nav links at the top of the page */
nav a{
    text-decoration: none;
    color: var(--secondColor);
    font-size: 125%;
    margin: 0 2%;
}

a:hover{
    cursor: pointer;
    color: var(--secondAccent);
}

/* My name at the top of the site */
#name{
    width: 90%;
    display: flex;
}

h1{
    color: var(--secondAccent);
    font-size: 500%;
    margin: 0;
}

h2{
    margin: 0;
    color:var(--secondColor);
    font-size: 375%;
}

/* creates a line underneath my name and title */
.line{
    width: 100%;
    height: 0;
    border-bottom: var(--lightColor) solid 3px;
    margin: 0;
    display: block;
}

/* sets up the background */
body{
    position:absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: var(--mainColor);
}

main{
    display: block;
}

/* the section that contains all of the images of projects */
#work{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* things inside the body should take up the right 4/5 of the screen */
section > div{
    flex: 4;
}

section{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 1%;
}

/* sets up the section headings on the left side of the screen */
.section-title{
    flex: 1;
    text-align: center;
    margin: 2% 0 auto 0;
    font-size: 156%;
    color:var(--secondAccent);
}

section p{
    flex: 4;
    font-size: 100%;
    color:var(--secondColor);
}

#first-image{
    flex: 4;
}

#first-image img{
    width: auto;
    height: auto;
    /* this calculation ensures the image takes up 100% of the available space without the borders causing it to spill over the edge */
    max-width: calc(100% - calc(var(--borderSize) * 2));
}

#first-image div{
    font-size: 156%;
    bottom: 9px;
}

/* this causes images to fit correctly in the right space and have uniform size without stretching */
img{
    height: calc(100% - calc(var(--borderSize) * 2));
    width: calc(100% - calc(var(--borderSize) * 2));
    max-width: calc(100% - calc(var(--borderSize) * 2));
    object-fit: cover;
    border: var(--lightColor) solid var(--borderSize);
    margin: 10px 0 0 0;
}

/* borders light up when hovering over images */
img:hover{
    border:var(--secondAccent) solid var(--borderSize);
}

#arcane-audit{
    object-fit: contain;
    background-color: black;
}

/* sets up the container that holds the project caption and positions it correctly */
.project-caption{
    position: relative;
    flex: 1.95;
}

/* sets up the actual project caption itself */
.project-caption div{
    pointer-events: none;
    text-decoration: none;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    color: var(--lightColor);
    font-size: 100%;
    position: absolute;
    width: calc(100% - calc(var(--borderSize) * 2));
    left: 5px;
    bottom: -5px;
    padding-top: 10%;
}

/* makes the caption change colors when the image is hovered */
.project-caption:hover div{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    color: var(--secondAccent);
}

/* acts as an empty space in the flexbox to get spacing correct */
.spacer{
    flex: 0.1;
}

#contact{
    margin-top: 3%;
}

/* applies to all direct children of the #contact */
#contact > *{
    margin-top: auto;
    margin-bottom: auto;
}

/* spans are only used in the contact section */
span{
    color: var(--secondColor);
    font-size: var(--contactFontSize);
}

span a{
    color: var(--secondColor);
    font-size: 100%;
    text-decoration: none;
}

section span{
    flex: 2;
}

/* the footer is blank space just so that content doesn't go right up to the bottom of the screen */
footer{
    height: 100px;
}

/* Reorganizes things to fit narrow screens such as mobile better */
@media screen and (max-width: 1000px) {
    :root{
        --contactFontSize: 100%;
    }
    
    nav{
        justify-content: space-evenly;
    }
    
    nav a{
        font-size: 88%;
    }

    #name{
        display: block;
        width: 100%;
    }

    h1{
        font-size: 250%;
        text-align: center;
    }

    h2{
        font-size: 188%;
        text-align: center;
    }

    section{
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }

    section p{
        margin: 0 5%;
        font-size: 88%;
    }

    .project-caption{
        margin: 0 auto;
        width: 90%;
    }

    .project-caption div{
        bottom: 9px;
    }

    #first-image div{
        font-size: 100%;
    }

    img{
        width: 100%;
    }

    #contact section{
        margin: 3% auto 0 auto;
    }

    span{
        margin: 0 5%;
    }
}

/* Adjusts a few things for high resolution monitors */
@media screen and (min-width: 2500px) {
    *{
        font-size: 67px;
    }

    #first-image div{
        bottom: 21px;
    }
}